@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Quicksand", sans-serif;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}
.scroll-hidden::-webkit-scrollbar {
    height: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 760px) {
    .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }

    .swiper-button-prev {
      left: 20px;
      transform: rotate(90deg);
    }
}   

.prose h2 {
  @apply text-2xl font-bold my-4;
}

.prose p {
  @apply text-base my-2;
}

.prose table {
  @apply table-auto border-collapse w-full;
}

.prose th,
.prose td {
  @apply border px-4 py-2 text-left;
}

.prose th {
  @apply bg-gray-200;
}